# Logs
logs
*.log
npm-debug.log*

# Dependency directories
node_modules/
.pnpm-store/

# Build output
dist/
dist-ssr/
.vercel

# Env
.env
.env.local
.env.*.local

# Editor
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Misc
coverage/
